@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.boxMode{
  background-position-y:bottom;
}
.checkBox{
  border-color:#ffffff !important;
}



body{
  font-family: 'Poppins', sans-serif !important;
}