@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face {
  font-family: 'AvenirLT';
  src: url("./Fonts/AvenirLTProMedium.otf");
}


.boxMode{
  background-position-y:bottom;
}
.checkBox{
  border-color:#ffffff !important;
}

